{% extends "base_generic.html" %}

{% block content %}
    <h1>Author List</h1>

    {% if author_list %}
    <ul>

      {% for author in author_list %}
          <li>
            <a href="{% url 'author-detail' author.pk %}">{{author.first_name}} {{author.last_name}}</a>
              {% if author.date_of_birth or author.date_of_death %}
                <div class="text-muted">{{author.date_of_birth}} - {{author.date_of_death}}</div>
              {% endif %}
              {% if perms.catalog.can_mark_returned %}
                <a href="{% url 'author_update' author.pk %}" class="btn">Update</a>
                <a href="{% url 'author_delete' author.pk %}" class="btn">Delete</a>
              {% endif %}
          </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no authors in the library.</p>
    {% endif %}
{% endblock %}